# Dependencies
node_modules/
npm-debug.log*

# Environment variables (IMPORTANTE!)
.env
.env.local
.env.production

# Production builds
build/
dist/

# Logs
logs/
*.log

# Editor
.vscode/
.idea/
.DS_Store
